@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Gruppo&family=Megrim&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Overlock+SC&family=Oxanium:wght@200;300;400;500;600;700&family=Poiret+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prosto+One&family=Unica+One&family=Wallpoet&family=Yatra+One&display=swap');
/* .zagadat{
  background: black;
} */
.city, .country, .cord{
  font-family: 'Oxanium', cursive;
}

.logo{
  font-family: 'Prosto One', cursive;
}

.temp{
  font-family: 'Montserrat', sans-serif;
}

.circle-font{
  border-radius: 50%;
}

.circle{
  z-index: 999;
}

.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.country-city{
  height: calc(100% - 135px);
}


